<div class="all_content">
  <ul class="all_topics">
    <% @top_posts.each do |post| %>
      <li class="top_topic" >
      <% count = post.comments.count %>
      <% if count != 0%>
        <% if (count > 9)%>
          <% reply_id = "double_number"%>
        <% else %>
          <% reply_id = "one_number"%>
        <% end %>
        <div class="reply">
          <a href="#" id="<%= reply_id %>"><%= count %></a>
        </div>
      <% end %>
        <div class="avatar">
          <img src="/picture/logo.png" alt="avatar" />
        </div>
        <div class="content">
          <div class="title">
            <a href="/topics/<%= post.id %>"><%= post.title %></a>
          </div>
          <div class="info">
            <a href="/tags/<%= post.tag %>"><%= post.tag %></a>
            <span> . </span>
            <% if (count == 0) %>
              <span>由</span>
              <a href="/account/<%= post.user.name %>"><%= post.user.name %></a>
              <span>发表</span>
              <span>.</span>
              <span><%= time_ago(post.created_at)%></span>
            <% else %>
              <span>最后由</span>
              <% comment = @comments.find(post.last_reply)%>
              <% user_name = comment.user.name %>
              <a href="/account/<%= user_name %>"><%= user_name %></a>
              <span>回复</span>
              <span>.</span>
              <span><%= time_ago(comment.created_at)%></span>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <% @posts.each do |post| %>
      <% if post.essence %>
        <% liclass = "essence_topic"%>
      <% else %>
        <% liclass = "topic "%>
      <% end %>
      <li class="<%= liclass %>">
      <% count = post.comments.count %>
      <% if count != 0%>
        <% if (count > 9)%>
          <% reply_id = "double_number"%>
        <% else %>
          <% reply_id = "one_number"%>
        <% end %>
        <div class="reply">
          <a href="#" id="<%= reply_id %>"><%= count %></a>
        </div>
      <% end %>
        <div class="avatar">
          <img src="/picture/logo.png" alt="avatar" />
        </div>
        <div class="content">
          <div class="title">
            <a href="/topics/<%= post.id %>"><%= post.title %></a>
          </div>
          <div class="info">
            <a href="/tags/<%= post.tag %>"><%= post.tag %></a>
            <span> . </span>
            <% if (count == 0) %>
              <span>由</span>
              <a href="/account/<%= post.user.name %>"><%= post.user.name %></a>
              <span>发表</span>
              <span>.</span>
              <span><%= time_ago(post.created_at)%></span>
            <% else %>
              <span>最后由</span>
              <% comment = @comments.find(post.last_reply)%>
              <% user_name = comment.user.name %>
              <a href="/account/<%= user_name %>"><%= user_name %></a>
              <span>回复</span>
              <span>.</span>
              <span><%= time_ago(comment.created_at)%></span>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    
  </ul>
</div>
