<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<br/>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

<% end %>

<h2>Add a comment:</h2>
<form action="/posts/<%= @post.id %>" method="post">
    <label for="comment_commenter">Commenter:</lable><br/> 
    <input id="comment_commenter" name="comment[commenter]" type="text"  />
    <br/>

    <label for="comment_body">Comment:</lable><br/>
    <textarea id="comment_body" name="comment[body]",row="4"></textarea>
    <br/>

    <input type="submit" value="Create Comment" />

  </form>

