<div class="single_post">
  <article class="single_post">
    <header>
      <h1><%= @post.title %></h1>
      <div class="info">
        <span class="post_time">
          <%= pretty_date(@post.created_at) %>
        </span>
	<a class="post_tag" href="/tags/<%= @post.tag %>"><%= @post.tag %></a>
      </div>
    </header>
    <div class="content">
      <p><%= mark_down(@post.body)%></p>
    </div>
  </article>
</div>
<script src="/js/prism.js"></script>
<script src="/js/headroom/headroom.min.js"></script>
<script>
(function() {
   var header = new Headroom(document.querySelector("header.index"), {
       tolerance: 5,
       offset: 120,
       classes: {
         initial: "animated",
	 pinned: "slideDown",
	 unpinned: "slideUp"
       }
       });
   header.init();
 }());
</script>
